@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  --color-shadow-grey: #231F20;
  --color-rosy-copper: #DB504A;
  --color-vibrant-coral: #FF6F59;
  --color-bone: #ECE2D0;
  --color-white: #FEFFFE;

  --shadow-brutal: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --shadow-brutal-sm: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

@layer base {
  body {
    @apply bg-bone text-shadow-grey font-sans;
  }
}
